.userball
  .gravatar
    = facebook_profile_image_tag(user.username + '.jpg', :width => user.diameter, :height => user.diameter, :crop => :fill, :gravity => :north_west, :radius => 'max', :border => '3px_solid_black', :background => 'rgb:fff', :alt => "facebook_profile")
    = content_tag_for(:div, user) do
      .username
        = user.username
      %div{:id => "#{user.id}:diameter", "data-mercury" => "full",  :data => "diameter" }  
        = user.diameter
      %div{:id => "#{user.id}:description", "data-mercury" => "full", :data => "description" }
        = user.description.nil? ? "" : user.description.html_safe
